__pycache__
*.pyc
.DS_Store
Finch Python API Description.pdf
LICENSE.txt
accelerationExampleOne.py
accelerationExampleTwo.py
alarm.py
currList.txt
dance.py
finch.py
finch.pyc
finchBotPlayground
finchconnection.py
finchconnection.pyc
#firstTest.py
hidapi32.dll
hidapi64.dll
#keyTest_getkey.py
keyTest_keyboard.py
keyTest_pynput.py
lapswimmer.py
libhidapi.dylib
libhidapi32.so
libhidapi64.so
libhidapipi.so
musicexample.py
notes.py
notes.pyc
racedriver.py
tapExample.py
testfinchfunctions.py
wanderer.py
foo.txt
LogFile.*